.MarkdownPriviewer-container {
  width: 80%;
  margin: 0 auto;
  /* border: 2px solid lightslategrey; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.MarkdownPriviewer-editor {
  width: 50%;
  border: 2px solid lightcoral;
}

.maximizeWidth {
  width: 100%;
}

.MarkdownPriviewer-container textarea {
  margin: 0 0;
  padding: 10px;
  width: 96%;
  min-height: 350px;
}

.MarkdownPriviewer-preview {
  width: 70%;
  border: 2px solid lightcoral;
}

.MarkdownPriviewer-output {
  align-self: center;
  margin: 15px 0;
  padding: 10px;
  min-height: 350px;
  background-color: lightseagreen;
}

/* styles for elements in MarkDown */

.MarkdownPriviewer-output code {
  padding: 4px;
  display: inline-block;
  background-color: white;
}

.MarkdownPriviewer-output table {
  border-collapse: collapse;
}

.MarkdownPriviewer-output table, th, td {
  border: 2px solid black;
}

blockquote {
  border-left: 3px solid #224B4B;
  color: #224B4B;
  padding-left: 5px;
  margin-left: 25px;
}