.MarkdownPriviewer-container {
  width: 80%;
  margin: 0 auto;
  border: 2px solid lightslategrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

/* Editor */
.Editor {
  width: 65%;
  border: 2px solid plum;
  margin: 10px;
  padding: 10px;
}

.Previewer {
  width: 80%;
  border: 2px solid plum;
  margin: 10px;
  padding: 10px;
}

/* maximize-btn click */

.maximize {
  width: 100%;
}

.hide {
  display: none;
}

/* styles for elements in MarkDown */

.MarkdownPriviewer-output code {
  padding: 4px;
  display: inline-block;
  background-color: white;
}

.MarkdownPriviewer-output table {
  border-collapse: collapse;
}

.MarkdownPriviewer-output table, th, td {
  border: 2px solid black;
}

blockquote {
  border-left: 3px solid #224B4B;
  color: #224B4B;
  padding-left: 5px;
  margin-left: 25px;
}